.title {
  font-family: "libre Baskerville", sans-serif;
  font-style: normal;
}

.description {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
}

#article .container {
  max-width: 900px;
}

body {
  height: 1000vh;
}
