.carousel-item img {
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.title {
  font-family: "libre Baskerville", sans-serif;
  font-style: normal;
}

.bs,
.gs,
.ws,
.bc,
.rc {
  transition: content 0.7s; /* add transition effect */
}

.bs:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/BLACK-SHIRT-BACK.JPG");
}
.gs:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/GREY-SHIRT-BACK.JPG");
}
.ws:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/WHITE-SHIRT-BACK.JPG");
}
.bc:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/BLACK-CAP-BACK.JPG");
}
.rc:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/RED-CAP-SIDE.jpg");
}
