.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 0.5s ease-out;
}

.slide-in-right {
  transform: translatex(100%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 0.5s ease-out;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

.img-fluid:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
