main {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.container-fluid {
  width: 150%;
  height: 100%;
}

.img-fluid:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .container-fluid {
    width: 200%;
    height: 200%;
  }
}
