body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

h1 {
  font-family: "libre Baskerville", sans-serif;
  font-style: normal;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
}

.uh12,
.uh14,
.uh17,
.uh18,
.uh23,
.uh25 {
  transition: content 0.7s; /* add transition effect */
}

.uh12:hover {
  cursor: pointer;
  content: url("../../assets/images/bdd/UnsungHeroes_Merchandise-13.jpg");
}
.uh14:hover {
  cursor: pointer;
  content: url("../../assets/images/bdd/UnsungHeroes_Merchandise-15.jpg");
}
.uh17:hover {
  cursor: pointer;
  content: url("../../assets/images/bdd/UnsungHeroes_Merchandise-17.jpg");
}
.uh18:hover {
  cursor: pointer;
  content: url("../../assets/images/bdd/UnsungHeroes_Merchandise-19.jpg");
}
.uh23:hover {
  cursor: pointer;
  content: url("../../assets/images/bdd/UnsungHeroes_Merchandise-24.jpg");
}
.uh25:hover {
  cursor: pointer;
  content: url("../../assets/images/bdd/UnsungHeroes_Merchandise-26.jpg");
}

@media (min-width: 767.98px) {
  .content-img {
    width: 100%;
  }
}

@media (max-width: 407px) {
  .description p {
    font-size: 85%;
  }
}
