h1 {
  font-family: "libre Baskerville", sans-serif;
  font-style: normal;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
}

.bs,
.gs,
.ws,
.og,
.tjb {
  transition: content 0.7s; /* add transition effect */
}

.bs:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/BLACK-SHIRT-BACK.JPG");
}
.gs:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/GREY-SHIRT-BACK.JPG");
}
.ws:hover {
  cursor: pointer;
  content: url("../../assets/images/rib/WHITE-SHIRT-BACK.JPG");
}
.og:hover {
  cursor: pointer;
  content: url("../../assets/images/podium-ocra/ocra-green-b.jpg");
}
.tjb:hover {
  cursor: pointer;
  content: url("../../assets/images/podium-ocra/team-jersey-b.jpg");
}
